services:
  setup:
    image: 10.88.66.194:8081/ftra/setuphost:14.2.0.138
    volumes:
      - /:/host
    cap_add:
      - ALL
    environment:
      - VERBOSE=${VERBOSE:-false}
      - VOLUME=/opt/ftra
      - APPARMOR_PROFILE=${APPARMOR_PROFILE:-unconfined}
      - SOME_ENV_VAR=value
#    secrets:
#      - web_login_password
    pid: host
    userns_mode: host
    security_opt:
      - apparmor:unconfined

  runtime:
    image: 10.88.66.194:8081/ftra/runtime:14.2.0.138
    depends_on:
      setup:
        condition: service_completed_successfully
    environment:
      - SHARED_NETWORK=false
      - TZ
    volumes:
      - ${VOLUME:-/opt/ftra}:/runtime_persistence
    cap_add:
      - NET_ADMIN
    ports:
      - "0.0.0.0:5161:5161"
      - "5936:5936"
    userns_mode: host
    security_opt:
      - apparmor:${APPARMOR_PROFILE:-unconfined}

#secrets:
#  web_login_password:
#    environment: "WEB_LOGIN_PASSWORD"
